<div class="container" >
    <span class="border2" style=" margin-left:310px;margin-top:80px; ">
        <br>
        <h1 style="color:#ff3377 " class="text-center mb-3">
            <i class="fas fa-sign-in-alt"></i>  Sign up</h1>
            <%- include ('./partials/messages') %>
       
            <form  class="border2 border p-5" action="/user/login" method="POST">
            <div class="form-group">
                <label  style="color:#0044cc" for="email">Email</label>
                <input
                type="email"
                id="email"
                name="email"
                class="form-control"
                placeholder="Enter Email"
                />
            </div>
            <div class="form-group">
                <label style="color:#0044cc"  for="password">Password</label>
                <input
                type="password"
                id="password"
                name="password"
                class="form-control"
                placeholder="Enter Password"
                />
            </div>
            <button type="submit" class="btn btn-primary btn-block">Login</button>
            
            <p style="text-align:center"class="lead mt-4">
            No Account? <a  style="color:#ff3377 "href="/user/register">Sign in</a>
            <br>
            <p style="text-align:center;" class="lead mt-4" >
                <a style="color:darkslateblue " href="/user/update/{{this._id}}" onclick="return confirm('Are you sure you wanna change password?')">Change password ?</a>
            </p>
            <br>
           
        </form>
    </span>
  </div>